<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForLoop</title>
</head>
<body style="background-color: burlywood;">
    <center>
        <h1 style="color:blue">Printing Data by using For loop</h1>
        <h2>The actual data is <h1 style="color: red;">{{name}}</h1></h2>
        {% for i in name %}
            <h2 style="background-color: aquamarine;color:red">{{i}} </h2>
        {% endfor %}
    </center>
</body>
</html>